/*------------------Nazik Style*/
/*body{*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
/*header {*/
    /*height: 100vh;*/

/*}*/
.image {
    width: auto !important;
    height: 500px !important;
    margin-top: 3.5%;
    margin-left: 15%;
}
.carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttom {
    margin-bottom: 5% !important;
}
.big{
    color:darkgray;
}
.blue {
    background: #00bfff !important;
}
/*------------------Nazik Style*/

/*------------------Serine Style*/
.h1 {
    color:#00bfff;
    font-size: 25px;
    font-weight: 700;
}
.p1{
    color:darkgray;
    font-size:22px
}
.home {
    float: left;
    background-color: #00bfff;
    text-align: center;
    width: 300px;
    height: 300px;
    color:white;
    margin-bottom: 30px;
}
.home h2 {
    color: #00bfff;
    font-size: 31px;
    font-weight: 700;
    background-color:white;
    width: 100%;
}

.home img {
    padding: 15px;
    width: 100%;
}

#example1 {
    height: 60px;
    width: 600px;
    text-align: center;
    color:#00bfff;
    font-size: 27px;
    border: 2px solid #00bfff;
    padding: 10px;
    border-radius: 45px;
    margin-left:45px;
    margin-top: 50px;
}

.h2 {
    font-size: 25px;
    font-weight: 700;
    background-color: #fff;

    color: #00bfff;
    width: 50%;

}
.size{
    font-size: 45px;
    color:white;
}
.div1 img {
    margin-left: 90px;
    margin-bottom:100px;
    color: #00bfff;
}
.mySlides {
    display:none;
}
.slide1 {
    margin-top: 30px;
    color:white;
    height: 120px;
    background-color:#1a8be2;
    opacity: 0.3;
}
.cont {
    width: 900px;
}
.form {
    background-color:#f2f2f2;
}

.btn {
    background-color:#00bfff;
    width: 300px;
}

span {
    color:red;
    font-size:20px;
}
.link{
    color: #00bfff;

}
.link1{
    color: #787878;

}
.img1{
    width: 100px;
    margin-top: 100px;
}


/*------------------Serine Style*/

